body {
    min-width: 320px;
    font-family: 'montserratregular', sans-serif;
}

.slider-wrapper {
    height: 100vh;
    background: url(../images/photo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 40px;
    min-height: 568px;
}

.slider-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.7);
}

.logo h2 {
    color: #ffffff;
    font-family: 'ralewayregular', sans-serif;
    font-size: 34px;
    letter-spacing: -1.36px;
    vertical-align: middle;
    display: inline;
}

.logo {
    transition: transform .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

header {
    position: relative;
    z-index: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

header .logo {
    float: left;
    margin-right: 12%;
}

header .logo a {
    text-decoration: none;
}

header .searchbar {
    float: right;
    line-height: 46px;
}

header nav {
    line-height: 46px;
}

.searchbar .burger {
    visibility: hidden;
}

.searchbar button i {
    transition: color .2s ease-in-out;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
}

header nav ul {
    text-decoration: none;
}

.menu a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    padding: 3px;
    transition: color .2s ease-in-out;
}

.menu a:hover {
    color: #c7b299;
    text-decoration: none;
}

.menu .active {
    color: #c7b299;
}

.slider-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: auto;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.slider-text h2 {
    color: #ffffff;
    font-family: 'ralewayregular', sans-serif;
    font-size: 36px;
}

.slider-text h1 {
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 52px;
}

.slider-text p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    max-width: 560px;
}

.btn-standart {
    box-shadow: inset 0 -3px 0 #736357;
    background-color: #998675;
    color: #ffffff;
    font-family: 'ralewayextrabold', sans-serif;
    font-size: 14px;
    line-height: 23px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 15px 40px;
    border: none;
    transition: color .2s ease-in-out,
    background .2s ease-in-out;
}

.btn-standart:hover {
    color: #595855;
    background-color: #b59f8c;
}

.slider-text a {
    display: inline-block;
    margin-top: 50px;
}

.slider-text a:hover {
    text-decoration: none;
}

.btn-standart:active {
    box-shadow: inset 0 0 10px #736357;
}

.slider-wrapper .cart,
.slider-wrapper .search,
.slider-wrapper .burger {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    padding: 3px;
}

.slider-wrapper .burger:hover i,
.slider-wrapper .cart:hover i,
.slider-wrapper .search:hover i {
    color: #c7b299;
}

.slider-wrapper .arrow-left,
.slider-wrapper .arrow-right {
    position: absolute;
    z-index: 1;
    background: transparent;
    border: none;
    top: 50%;
    margin-top: -50px;
    padding: 15px;
    color: #fff;
    opacity: .5;
    font-size: 70px;
}

.slider-wrapper .arrow-left i,
.slider-wrapper .arrow-right i {
    transition: color .2s ease-in-out;
}

.slider-wrapper .arrow-left {
    left: 10%;
}

.slider-wrapper .arrow-right {
    right: 10%;
}

.slider-wrapper .arrow-left:hover i,
.slider-wrapper .arrow-right:hover i {
    color: #d3c1ad;
    opacity: 1;
}

.slider-wrapper .pagination {
    position: absolute;
    z-index: 1;
    width: 120px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 40px;
}

.slider-wrapper .pagination button {
    border: none;
    background: transparent;
    padding: 7px;
}

.slider-wrapper .pagination button:after {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: transform .2s ease-in-out;
}

.slider-wrapper .pagination .active:after {
    box-shadow: 0 0 0 2px #d3c1ad;
    background-color: transparent;
}

.slider-wrapper .pagination button:hover:after {
    box-shadow: 0 0 0 2px #d3c1ad;
    transform: scale(1.1);
}

.menu-opened {
    visibility: visible;
    position: absolute;
    top: 65px;
    width: 100%;
    white-space: nowrap;
    flex-wrap: wrap;
    line-height: 16px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.segments {
    padding-top: 70px;
    padding-bottom: 70px;
}

.segments .row {
    padding-left: 30px;
    padding-right: 30px;
}

.segments a {
    color: #555;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: color .2s ease-in-out;
}

.segments a:hover {
    color: #c7b299;
}

.section-heading {
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 22px;
    margin: 10px 0 15px;
}

.segments p {
    color: #8c8c8c;
    font-size: 14px;
    margin-bottom: 25px;
}

.segments i {
    font-size: 48px
}

.segments hr {
    width: 70px;
    height: 2px;
    background-color: #f1eee9;
    transition: background .2s ease-in-out;
}

.segments a:hover hr {
    background-color: #c7b299;
}

h2.section-heading {
    font-size: 30px;
    color: #555;
}

.realization-ideas {
    padding: 70px 0 0;
    background-color: #fbfaf8;
    text-align: center;
}

.realization-ideas p {
    margin-bottom: 36px;
}

.realization-ideas img {
    width: 100%;
}

.purchase {
    background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding-top: 30px;
    padding-bottom: 30px;
}

.purchase .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.purchase .section-heading,
.purchase p,
.purchase button {
    margin-left: 30px;
    margin-right: 30px;
}

.purchase .section-heading {
    color: #fff;
    font-size: 28px;
    font-family: 'ralewayregular', sans-serif;
    margin-bottom: 3px;
}

.purchase .section-heading span {
    color: #c7b299;
}

.purchase p {
    color: #615855;
    font-size: 18px;
    margin-bottom: 10px;
}

.latest-projects {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.latest-projects .section-heading {
    color: #555555;
    font-size: 30px;
}

.latest-projects p {
    color: #8c8c8c;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.sort {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.sort li {
    display: inline-block;
}

.sort a {
    display: block;
    border-radius: 3px;
    color: #8c8c8c;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    min-width: 70px;
    border: 1px solid #ebebeb;
    margin: 0 3px;
    transition: background .2s ease-in-out,
    color .2s ease-in-out;
}

.sort .active {
    background-color: #998675;
    color: #fff
}

.sort a:not(.active):hover {
    background-color: #998675;
    color: #fff;
    opacity: .7;
}

.projects {
    padding-left: 30px;
    padding-right: 30px;
}

.project {
    margin-bottom: 30px;
}

.project:hover .label {
    background-color: #362f2d;
}

.project:hover .label .name {
    color: #fff;
}

.project:hover .label .description {
    color: #c7b299;
}

.project .buttons {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
}

.project .buttons button {
    border: none;
    background: none;
    color: white;
    font-size: 26px;
}

.project:hover .buttons {
    opacity: 1;
}

.project:hover button {
    cursor: pointer;
}

.project button:hover {
    color: #c7b299;
}

.project .pic {
    position: relative;
}

.project .pic:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.project:hover .pic:before {
    opacity: 1;
}

.project img {
    width: 100%;

}

.project .label {
    background-color: #fbfaf8;
    text-align: left;
    padding: 27px;
}

.project .label .name {
    color: #c7b299;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    transition: color .2s ease-in-out;
}

.project .label .description {
    color: #d1d1d1;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    transition: color .2s ease-in-out;
}

.projects .load-more-btn {
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    header nav ul {
        visibility: hidden;
    }
    header .logo {
        margin-right: 0;
    }
    .searchbar .burger {
        width: auto;
        visibility: visible;
    }
    .arrow-left,
    .arrow-right {
        visibility: hidden;
    }
    .slider-text {
        top: 55%
    }
    .slider-text h2 {
        font-size: 20px;
    }
    .slider-text h1 {
        font-size: 30px;
    }
    .slider-text a {
        margin-top: 20px;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 374px) {
    .logo h2 {
        visibility: hidden;
        font-size: 0;
    }
}
