body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

header {
    padding: 40px 0;
    background-color: #445162;
}

header h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 26px;
}

header ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    padding-left: 36px;
    list-style-image: url(img/check-icon.png);
    margin-bottom: 0;
}

header ul li {
    padding-left: 2px;
}

header ul li em {
    font-style: normal;
}

header img {
    float: right;
    width: 90%;
    margin: 10px 0;
    background-color: #fff;
    margin-left: 20px;
}

.section-title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.about {
    padding: 46px 0;
}

.about img {
    float: right;
    width: 98%;
    margin: 10px 0;
    background-color: #445161;
}

.pluses {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.pluses ul {
    list-style-type: none;
    padding-left: 42px;
}

.pluses ul li {
    margin-top: 20px;
}

.pluses ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    background: url(img/plus-icon.png);
    margin-left: -42px;
    margin-top: 4px;
}

.screenshots {
    padding: 40px 0;
}

.screenshots .section-title {
    margin-bottom: 20px;
}

.screenshots img {
    width: 100%;
    background-color: #445161;
    margin-top: 6px;
}

.screenshots .description-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.reviews {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.reviews article {
    margin-left: 110px;
    position: relative;
    background-color: #ebebeb;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.reviews article:before {
    content: '';
    display: block;
    position: absolute;
    left: -110px;
    top: 0;
    width: 77px;
    height: 77px;
    border-radius: 38.5px;
    background-color: #445161;
}

.reviews article:after {
    content: '';
    display: block;
    position: absolute;
    left: -27px;
    top: 27px;
    border: 12px solid transparent;
    border-right: 15px solid #ebebeb;
}

.reviews article p {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 8px;
}

.reviews footer {
    background-color: transparent;
    padding: 0;
}

.reviews article footer address {
    color: #989898;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}

.buy {
    padding: 40px 0;
}

.buy .plan {
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 8px;
}

.buy .plan h3 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 12px 0;
}

.buy .plan .price {
    background-color: white;
    text-align: center;
    color: #445162;
    font-size: 40px;
    line-height: 30px;
    padding: 18px 0;
}

.buy .plan ul {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
    padding: 18px;
    margin-bottom: 0;
}

.btn-area {
    padding: 0 18px;
    margin-bottom: 18px;
}

.buy .plan button {
    color: #445161;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 12px 0;
    font-weight: 600;
}

.buy .plan button:hover {
    cursor: pointer;
    color: darkblue;
    background-color: #ccc;
}

.buy .plan button:active {
    background-color: lightgray;
    color: darkblue;
}

footer {
    background-color: #445162;
    padding: 40px 0;
}

footer .section-title {
    color: #fff;
    margin-bottom: 28px;
}

footer form {
    margin-bottom: 20px;
}

footer input[name="name"],
footer input[name="email"],
footer textarea {
    width: 100%;
    color: #445162;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    position: relative;
    padding-left: 15px;
}

footer input[name="name"],
footer input[name="email"] {
    line-height: 40px;
    padding-left: 100px;
}

footer textarea {
    padding: 40px 10px 10px;
    margin-bottom: 15px;
}

footer label {
    position: absolute;
    z-index: 1;
    line-height: 40px;
    padding: 1px 10px;
    color: #445162;
    left: 15px;
}

footer .submit-area {
    text-align: center;
}

footer input[type="submit"] {
    border: none;
    background-color: #fff;
    padding: 9px 49px;
    border-radius: 5px;
    color: #445162;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

footer input[type="submit"]:hover {
    cursor: pointer;
    color: darkblue;
    background-color: #ccc;
}

footer input[type="submit"]:active {
    background-color: lightgray;
    color: darkblue;
}

footer .contact-info {
    color: #fff;
}

footer .contact-info p {
    margin-bottom: 20px;
}

footer .contact-info p:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

footer .contact-info .skype:before {
    background: url(img/skype-icon.png) no-repeat;
}

footer .contact-info .icq:before {
    background: url(img/icq-icon.png) no-repeat;
}

footer .contact-info .email:before {
    background: url(img/email-icon.png) no-repeat;
}

footer .contact-info .phone:before {
    background: url(img/phone-icon.png) no-repeat;
}

footer .social-links {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
}

footer .social-links li {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

footer .social-links li a {
    color: #445162;
    font-size: 20px;
    text-decoration: none;
}

footer .social-links li:hover {
    cursor: pointer;
}

footer .social-links li:hover a {
    color: darkblue;
}

footer .rights {
    background-color: #f5f5f5;
    margin-bottom: -40px;
    margin-top: 20px;
    color: #445162;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .buy .col-plans {
        padding: 0 22px;
    }
    footer .contact-info {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1199px) {
    header img {
        width: 100%;
    }
    .about img {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    header h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    header ul {
        line-height: 28px;
    }
}

@media screen and (max-width: 767px) {
    .buy .col-plans {
        margin: 10px 0;
    }
    footer .contact-info {
         text-align: center;
    }
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 40px;
    }
    .reviews article:before,
    .reviews article:after {
        display: none;
    }
    .reviews article {
        margin-left: 0;
    }
}
