@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.eot');
    src: url('../fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-extrabold-webfont.woff') format('woff'),
    url('../fonts/raleway-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
    url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-semibold-webfont.woff') format('woff'),
    url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
    url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('../fonts/montserrat-extralight-webfont.eot');
    src: url('../fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extralight-webfont.woff') format('woff'),
    url('../fonts/montserrat-extralight-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
}